* {
    padding: 0px;
    margin: 0px;
    font-family: "Lora", serif;
  }
  
  /***********************************************NAV*****************************************************/
  
  .logo {
    background-color: #9aaeac;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 0;
  }
  .icon {
    transform: scale(2);
    color: #365d5a;
    margin-right: 50px;
  }
  .img-fluid {
    width: 300px;
    margin-left: 20px;
  }
  .signin a {
    margin-right: 30px;
    color: #365d5a;
    text-decoration: none;
  }
  .form-control {
    width: 550px;
  }
  .search {
    margin-left: 200px;
  }
  .rounded-0 {
    background-size: cover;
    height: 500px;
  }
  .pt-5 {
    padding-top: 120px !important;
    margin-right: 900px;
    color: white;
    font-family: "Caveat", cursive;
    font-family: "Delicious Handrawn", cursive;
    font-size: 110px;
  }
  
  /***********************************************Footer*****************************************************/
  
  /* Footer */
  .footer-logo {
    width: 300px !important;
    height: 70px;
    margin-top: 100px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 50px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    width: 300px;
    height: 400px;
  }
  .col-md-2 {
    padding-top: 50px;
  }
  .footer-menu h3 {
    font-size: 30px !important;
    font-weight: bold;
  }
  .d-flex svg {
    color: #d6cda4;
  }

  /********************************************************/
.all{
    display: grid;
    background-color: #F6EEE6;
    grid-template-columns: auto auto;
    border: #365d5a solid 1px; 
    width: 70%;
    /* justify-content: center; Horizontally center the grid */
    align-items: center;  /* Vertically center the grid */
    padding: 30px;
    /* gap: 50px; */
    margin: 20px auto; /* Center the entire grid horizontally */
    color: #365d5a;
    
  }
  .all-container{
    background-color: #F6EEE6;
    width: 100%;
    padding: 50px;
    display: none;
  }
  .all-container.active{
    display: block;
  }
  .edit{
    display: flex;
    grid-column: 1/3;
  }
  .edit span{
    margin-left: 800px;
  }
  .edit a{
    color: #365d5a;
  }
  .edit h4{
    font-weight: bold;
    color: #365d5a;
  }
  hr{
    width: 100%;
    border: #365d5a solid 1px;
    grid-column: 1/3;
  }
  h1{
    text-align: center;
    margin-top: 20px;
    color: #365d5a;
    font-weight: bold;
  }
  button{
    border: 1px solid #365d5a;
    background-color: #f1895e;
    padding: 10px;
    border-radius: 5px;
    height: 47px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .previous{
    margin-left: 220px;
  }
  .next{
    margin-left: 580px;
  }
  
  /********************************step-wizard**********************/
  
  .step-wizard {
    /* background-color: #21d4fd; */
    /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step-wizard-list{
    /* background: #fff; */
    /* box-shadow: 0 15px 25px rgba(0,0,0,0.1); */
    color: #365d5a;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 30px 10px 10px 10px;
    position: relative;
    z-index: 10;
  }
  
  .step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
  }
  .step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #365d5a;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
  }
  .progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
  }
  .progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #365d5a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }
  .progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
  .progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  .current-item .progress-count:before,
  .current-item ~ .step-wizard-item .progress-count:before{
    display: none;
  }
  .current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
  }
  .current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
  }
  .current-item .progress-count:after{
    background: #fff;
    border: 2px solid #365d5a;
  }
  .current-item .progress-count{
    color: #365d5a;
  }
  /***********************/
  .title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #365d5a;
    text-align: center;
    font-weight: 700;
  }
  .payment-method {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    margin-left: 50px;
  }
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .radio-input {
    margin-top: 10px;
    height: 50px;
    width: 50px;
  }
  input[type='radio'] {
    display: inline-block;
    height: 20px;
    width: 20px;
    accent-color: #365d5a;
  }
  /**********************************/
.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border: #365d5a solid 1px;
  border-radius: 10px;
}
label {
  font-size: 20px;
}
.form-group .name{
  margin-top: 30px;
}
#cc_name{
  width: 900px;
}
#cc_num{
  width: 900px;
}
input[type='checkbox']{
  height: 15px;
  width: 15px;
  margin-right: 10px;
  accent-color: #365d5a;
}
.img-container {
  display: none;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: #f9f9f9; */
}
.voucher input {
  width: 200px;
  border-radius: 10px;
}
.voucher{
  gap: 100px;
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
.Items,
.Sub,
.Total,
.Discount {
  gap: 250px;
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
.summary-wrapper{
  grid-column: 1/3;
  text-align: center;
  margin: 0 auto;
}
.summary-wrapper h3{
  font-weight: 700;
}
.checkout-panel{
  text-align: center;
}
/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
  .img-fluid {
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 10px;
    padding-top: 30px;
    color: #365d5a;
    font-weight: bolder;
    font-size: 30px;
  }
  /* .title {
    display: none;
    margin-left: 10px;
  } */

  .footer-logo {
    width: 250px !important;
  }
  /***********************/
  .step-wizard{
    display: none;
  }
  .all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
}
.name, .email, .pass, .re-pass, .phone {
  width: 250px;
}
.next {
  margin-left: 0px;
}
.previous {
  margin-left: 0px;
}
.edit span {
  margin-left: 50px;
}
.edit{
  gap: 70px;
}
.all-container {
  background-color: #F6EEE6;
  width: 100%;
  padding: 10px;
  display: none;
}
.button {
  margin-left: 50px;
}
h1{
  font-size: 40px;
}
.payment-method {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
    margin-left: 50px;
}
.method {
  display: flex;
  flex-direction: column;
  width: 0px;
  height: 100px;
  padding-top: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
  border: #365d5a solid 1px;
  border-radius: 10px;
}
label {
  font-size: 20px;
}
.form-group .name{
  margin-top: 30px;
}
#cc_name{
  width: 250px;
}
#cc_num{
  width: 250px;
}
input[type='checkbox']{
  height: 15px;
  width: 15px;
  margin-right: 20px;
  accent-color: #365d5a;
}
.img-container {
  display: none;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: #f9f9f9; */
}
.voucher input {
  width: 150px;
  border-radius: 10px;
}
.voucher{
  gap: 10px;
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
.Items,
.Sub,
.Total,
.Discount {
  gap: 50px;
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
.summary-wrapper{
  grid-column: 1/3;
  text-align: center;
  margin: 0 auto;
}
.summary-wrapper h3{
  font-weight: 700;
}
.checkout-panel{
  text-align: center;
}
.card-body {
  /* padding: 20px; */
  margin-left: 15px;
}
.form-group{
  /* margin-left: 10px; */
}
.card-logos {
  margin-right: 50px;
}
}
/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }

  .footer-logo {
    width: 250px !important;
  }

  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }
  /* .title {
    display: none;
    margin-left: 10px;
  } */
  /**********************/
  .all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.next {
  margin-left: 100px;
}
.previous {
  margin-left: 30px;
}
.edit span {
  margin-left: 100px;
}
.edit{
  gap: 400px;
}
.all-container {
  background-color: #F6EEE6;
  width: 100%;
  padding: 10px;
  display: none;
}
.button {
  margin-left: 100px;
}
.payment-method {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  justify-content: space-between;
  margin-left: 50px;
}
.method {
display: flex;
width: 0px;
height: 100px;
padding-top: 20px;
cursor: pointer;
justify-content: center;
align-items: center;
}
.form-control {
display: flex;
margin-top: 10px;
gap: 5px;
margin-bottom: 20px;
width: 200px;
height: 40px;
border: #365d5a solid 1px;
border-radius: 10px;
}
label {
font-size: 20px;
}
.form-group .name{
margin-top: 30px;
}
#cc_name{
width: 600px;
}
#cc_num{
width: 600px;
}
input[type='checkbox']{
height: 15px;
width: 15px;
margin-right: 20px;
accent-color: #365d5a;
}
.img-container {
display: none;
margin-left: 10px;
border-radius: 10px;
cursor: pointer;
/* background-color: #f9f9f9; */
}
.voucher input {
width: 200px;
border-radius: 10px;
}
.voucher{
gap: 10px;
display: flex;
margin-top: 50px;
font-size: 20px;
}
.Items,
.Sub,
.Total,
.Discount {
gap: 50px;
display: flex;
margin-top: 50px;
font-size: 20px;
}
.summary-wrapper{
grid-column: 1/3;
text-align: center;
margin: 0 auto;
}
.summary-wrapper h3{
font-weight: 700;
}
.checkout-panel{
text-align: center;
}
.card-body {
/* padding: 20px; */
margin-left: 15px;
}
.form-group{
/* margin-left: 10px; */
}
.card-logos {
margin-right: 50px;
}
}
