* {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .pt-5 {
    padding-top: 150px !important;
    margin-right: 900px;
    color: white;
    /* font-family: "Caveat", cursive; */
    font-family: 'Open Sans', sans-serif;
    font-size: 110px;
    /* height: 80vh; */
  }
  .jumbotron.jumbotron-bg.text-center.rounded-0 {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/*************************************************************************************/
.our-vision{
  /* background-color: #C1D9D4; */
  display: flex;
  color: #365d5a;
  font-weight: bold;
  padding: 100px 150px;
}
.vision-text p{
  width: 70%;
  margin-top: 50px;
  line-height: 40px;
  font-size: 20px;
}
.vision-text h1{
  font-size: 60px;
  font-weight: bolder;
}
.Our-Goal{
  display: flex;
  color: #365d5a;
  font-weight: bold;
  padding: 100px 150px;
  /* background-color: #EDDDCD; */
  gap: 300px;
}
.Goal-text p{
  width: 100%;
  margin-top: 50px;
  line-height: 40px;
  font-size: 20px;
}
.Goal-text h1{
  font-size: 60px;
  font-weight: bolder;
}
.feature{
  display: flex;
  gap: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
  /* background-color: #C1D9D4; */
  color: #365d5a;
}
.feature img{
  width: 100px !important;
  /* height: 200px; */
}
.feature h5{
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}
/*********************************************************/
.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background: url(img/service-section-bottom.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 30px 0 40px;
  background: #C1D9D4;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #365d5a;
}
.our-team:hover{
  border-bottom: 5px solid #9aaeac;
}

.our-team .pic{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #365d5a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
height: 100%;
  background: #365d5a;
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: #365d5a; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
  background: #365d5a;
}
.our-team .pic img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img{
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post{
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform:capitalize;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #365d5a;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
  color: #2f2f2f;
  background: #f7f5ec;
}
.container .row{
  gap: 300px;
  justify-content: center;
}
.team{
  background-color: #EDDDCD;
}
.team h1{
  font-size: 60px;
  font-weight: bold;
  color: #365d5a;
  padding: 50px;
  text-align: center;
}
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}

/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
  .img-fluid {
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  .pt-5 {
    padding-top: 190px !important;
    margin-right: 0px;
    color: white;
    font-family: "Caveat", cursive;
    font-family: "Delicious Handrawn", cursive;
    font-size: 70px;
}
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 0px;
    padding-top: 0px;
    color: #365d5a;
    font-weight: bolder;
    font-size: 30px;
  }
  /* .title {
    display: none;
    margin-left: 10px;
  } */

  .footer-logo {
    width: 250px !important;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 20px !important;
    padding-bottom: 0px !important;
}
  /* h3 {
    font-size: 15px;
  } */
/***************************************************************/
.our-vision {
  background-color: #C1D9D4;
  display: flex;
  flex-direction: column;
  color: #365d5a;
  font-weight: bold;
  padding: 20px 0px;
}
.Our-Goal {
  display: flex;
  flex-direction: column;
  color: #365d5a;
  font-weight: bold;
  padding: 0px 0px;
  background-color: #EDDDCD;
  gap: 10px;
}
.feature {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #C1D9D4;
  color: #365d5a;
}
.vision-text p {
  width: 100%;
  margin-top: 50px;
  line-height: 40px;
  font-size: 20px;
  padding: 0px 20px;
}
.vision-text h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.Goal-text p {
  width: 100%;
  margin-top: 50px;
  line-height: 40px;
  font-size: 20px;
  padding: 0px 20px;
}
.Goal-text h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}
.Goal-img{
  display: none;
}
.container .row {
  gap: 50px;
  justify-content: center;
}
.team h1{
  font-size: 40px;
  font-weight: bold;
  color: #365d5a;
  padding: 20px;
  text-align: center;
}
.feature img {
  width: 150px;
  height: 150px;
}
/* h1{
  font-size: 40px;
} */
}
/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1.5);
    color: #365d5a;
    margin-right: 30px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }

  .footer-logo {
    width: 250px !important;
  }

  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }
  /*******************************************************************/
  .our-vision {
    background-color: #C1D9D4;
    display: flex;
    /* flex-direction: column; */
    color: #365d5a;
    font-weight: bold;
    padding: 50px 50px;
  }
  .Our-Goal {
    display: flex;
    flex-direction: column;
    color: #365d5a;
    font-weight: bold;
    padding: 0px 0px;
    background-color: #EDDDCD;
    gap: 10px;
  }
  .feature {
    display:grid;
    grid-template-columns: auto auto;
    gap: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #C1D9D4;
    color: #365d5a;
  }
  .vision-text p {
    width: 100%;
    margin-top: 50px;
    line-height: 40px;
    font-size: 20px;
    padding: 0px 20px;
  }
  .vision-text h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
  }
  .Goal-text p {
    width: 100%;
    margin-top: 50px;
    line-height: 40px;
    font-size: 20px;
    padding: 0px 20px;
  }
  .Goal-text h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
  }
  .Goal-img{
    display: none;
  }
  .vision-img{
    display: none;
  }
  .container .row {
    gap: 50px;
    justify-content: center;
  }
  .team h1{
    font-size: 40px;
    font-weight: bold;
    color: #365d5a;
    padding: 20px;
    text-align: center;
  }
  .feature img {
    width: 150px;
    height: 150px;
  }

}
