* {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
  }
/********************************************************/
.all{
  display: grid;
  /* background-color: #F6EEE6; */
  grid-template-columns: auto auto;
  border: #365d5a solid 1px; 
  width: 70%;
  /* justify-content: center; Horizontally center the grid */
  align-items: center;  /* Vertically center the grid */
  padding: 30px;
  /* gap: 50px; */
  margin: 20px auto; /* Center the entire grid horizontally */
  color: #365d5a;
  
}
.all-container{
  /* background-color: #F6EEE6; */
  width: 100%;
  padding: 50px;
  display: none;
}
.all-container.active{
  display: block;
}
.name,
.email,
.pass,
.re-pass,
.phone {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
  margin-bottom: 10px;
  width: 300px;
}
.name input, .email input, .pass input, .re-pass input, .phone input {
  height: 40px;
  border: #365d5a solid 1px;
  border-radius: 10px;
}
.edit{
  display: flex;
  grid-column: 1/3;
}
.edit span{
  margin-left: 800px;
}
.edit a{
  color: #365d5a;
}
.edit h4{
  font-weight: bold;
  color: #365d5a;
}
hr{
  width: 100%;
  border: #365d5a solid 1px;
  grid-column: 1/3;
}
h1{
  text-align: center;
  margin-top: 20px;
  color: #365d5a;
  font-weight: bold;
}
button{
  border: none;
  background: rgb(236, 110, 85);
  font-family: "Work Sans", sans-serif;
  padding: 10px;
  /* border-radius: 5px; */
  height: 47px;
  width: 200px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.1875rem;
  color: rgb(255, 255, 255);
  background: rgb(236, 110, 85);
  /* background-color: #f1895e; */
  font-family: "Work Sans", sans-serif;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease-in-out 0s;
}
button:hover{
  background-color: #f1895e;

}
button a{
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.1875rem;
}
.previous{
  margin-left: 220px;
}
.next{
  margin-left: 580px;
}

/********************************step-wizard**********************/

.step-wizard {
  /* background-color: #21d4fd; */
  /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-wizard-list{
  /* background: #fff; */
  /* box-shadow: 0 15px 25px rgba(0,0,0,0.1); */
  color: #365d5a;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 30px 10px 10px 10px;
  position: relative;
  z-index: 10;
}

.step-wizard-item{
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive:1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  position: relative;
}
.step-wizard-item + .step-wizard-item:after{
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: #365d5a;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count{
  height: 40px;
  width:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index:10;
  color: transparent;
}
.progress-count:after{
  content: "";
  height: 40px;
  width: 40px;
  background: #365d5a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-count:before{
  content: "";
  height: 10px;
  width: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-label{
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
  display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
  height:10px;
  width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
  opacity: 0.5;
}
.current-item .progress-count:after{
  background: #fff;
  border: 2px solid #365d5a;
}
.current-item .progress-count{
  color: #365d5a;
}

/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
  .img-fluid {
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 10px;
    padding-top: 30px;
    color: #365d5a;
    font-weight: bolder;
    font-size: 30px;
  }
  .title {
    display: none;
    margin-left: 10px;
  }

  .footer-logo {
    width: 250px !important;
  }
  h3 {
    font-size: 15px;
  }
  /***********************/
  .step-wizard{
    display: none;
  }
  .all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px;
}
.name, .email, .pass, .re-pass, .phone {
  width: 250px;
}
.next {
  margin-left: 0px;
}
.previous {
  margin-left: 0px;
}
.edit span {
  margin-left: 50px;
}
.edit{
  gap: 70px;
}
.all-container {
  background-color: #F6EEE6;
  width: 100%;
  padding: 10px;
  display: none;
}
.button {
  margin-left: 50px;
}
h1{
  font-size: 40px;
}
}
/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }

  .footer-logo {
    width: 250px !important;
  }

  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }

  .title {
    display: none;
    margin-left: 10px;
  }
  /**********************/
  .all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.next {
  margin-left: 100px;
}
.previous {
  margin-left: 30px;
}
.edit span {
  margin-left: 100px;
}
.edit{
  gap: 400px;
}
.all-container {
  background-color: #F6EEE6;
  width: 100%;
  padding: 10px;
  display: none;
}
.button {
  margin-left: 100px;
}
}