* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
  .pt-5 {
    padding-top: 20vh !important; /* Adjust this value for vertical positioning */
    margin: 0 auto; /* Center the text horizontally */
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem; /* Adjust the font size as needed */
    text-align: center; /* Center align the text */
  }

  /* Adjust the jumbotron's height */
  .jumbotron.jumbotron-bg.text-center.rounded-0 {
    height: 50vh; /* Adjust the height of the jumbotron */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Add position relative for absolute positioning within */
  }

  /* Darken the background image */
  .jumbotron.jumbotron-bg.text-center.rounded-0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Adjust the gradient for darkening */
    z-index: 1;
  }

  /* Ensure text appears above the background overlay */
  .container {
    position: relative;
    z-index: 2;
  }
  /********************************************form*********************************************/
  .name,
  .email,
  .pass,
  .re-pass,
  .phone {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    margin-bottom: 10px;
    width: 500px;
  }
  .name input, .email input, .pass input, .re-pass input, .phone input {
    height: 40px;
    border: #222 solid 1px;
    border-radius: 10px;
  }

  .social {
    text-align: center;
  }
  .Register {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group{
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: Poppins;
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .form-container button {
    border: none;
    background-color: #5FA800;
    padding: 10px;
    border-radius: 5px;
    height: 47px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 190px;
    margin-top: 30px;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #EDDDCD; */
    padding: 100px;
    color: #222;
  }
  .form h1{
    color: #222;
    font-weight: bold;
  }
  .form span{
    color: #5FA800;
  }

/**********************************************FQA******************************************/
  .faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: bolder;
  line-height: 1;
  color: #222;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #5FA800;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  /* background: #5FA800; */
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}

.faq .card {
  border: 2px solid #5FA800;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(95, 168, 0, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  /* float: left; */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #5FA800;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}
.form-container{
    display: flex;
    gap: 100px;
    padding: 20px 100px;
}
/******************************************contact***************************************/
  /* Left contact page */
  .form-control {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }

  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }

  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }

  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }

  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    margin-top: 200px;
  }

  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: 0px;
    padding-right: 20px;
    margin-top: 100px;
  }

  .list-item {
    line-height: 4;
    color: #5FA800;
  }

  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #222;
  }

  .place {
    margin-left: 62px;
  }

  .contact .phone {
    margin-left: 56px;
  }
  .fas .fa-phone .fa-2x{
    margin-top: 40px;
  }
  .contact .gmail {
    margin-left: 53px;
  }

  .contact-text a {
    color: #222;
    text-decoration: none;
    transition-duration: 0.2s;
  }

  .contact-text a:hover {
    color: #5FA800;
    text-decoration: none;
  }


  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .social-media-list li a {
    color: #fff;
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #5FA800;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }

  .social-media-list li:hover {
    background-color: #fff;
  }

  .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }

  .social-media-list li:hover a {
    color: #5FA800;
  }

  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }

  hr {
    border-color: rgba(255,255,255,.6);
  }


/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
    .img-fluid {
      margin-left: 0px;
    }
    .icon {
      transform: scale(1);
      margin-right: 10px;
    }
    .pt-5 {
      padding-top: 190px !important;
      margin-right: 0px;
      color: white;
      font-family: "Caveat", cursive;
      font-family: "Delicious Handrawn", cursive;
      font-size: 70px;
  }
    .delivery-gay {
      display: none;
    }
    h2 {
      margin-left: 10px;
      padding-top: 30px;
      font-weight: bolder;
      font-size: 30px;
    }
    /* .title {
      display: none;
      margin-left: 10px;
    } */

    .footer-logo {
      width: 250px !important;
    }
    .py-5 {
      padding-top: 50px !important;
      padding-left: 20px !important;
      padding-bottom: 0px !important;
  }
  /**********************************************FORM********************************8*******/
  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px 0px;
}
.contact-list {
    list-style-type: none;
    margin-left: 0px;
    padding: 10px;
    margin-top: 50px;
}
.name, .email, .pass, .re-pass, .phone {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    margin-bottom: 10px;
    width: 250px;
}
form{
    padding-left: 0px;
}
.form-container button {
    margin-left: 60px;
    margin-top: 30px;
}
.direct-contact-container {
    max-width: 400px;
    margin-top: 50px;
}
.contact-text a {
    text-decoration: none;
    transition-duration: 0.2s;
}
.place {
    margin-left: 10px;
}
.faq-section {
    min-height: 100vh;
    padding: 10vh 0 0;
    margin-bottom: 30px;
}
}
/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
    .img-fluid {
      width: 300px;
      margin-left: 0px;
    }
    .icon {
      transform: scale(1.5);
      margin-right: 30px;
    }
    body {
      padding: 0px;
      margin: 0px;
    }
    .py-5 {
      padding-top: 50px !important;
      padding-left: 10px !important;
      padding-bottom: 0px !important;
    }
    .delivery-gay {
      display: none;
    }

    .footer-logo {
      width: 250px !important;
    }

    .footer-menu h3 {
      font-size: 25px !important;
      font-weight: bold;
    }
    /**********************************************************************************************/
  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px 200px;
}
.contact-list {
    list-style-type: none;
    margin-left: 0px;
    padding: 10px;
    margin-top: 50px;
}
.name, .email, .pass, .re-pass, .phone {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    margin-bottom: 10px;
    width: 400px;
}
form{
    padding-left: 0px;
}
.form-container button {
    margin-bottom: 20px;
    margin-left: 130px;
    margin-top: 30px;
}
.direct-contact-container {
    max-width: 400px;
    margin-top: 50px;
}
.contact-text a {
    text-decoration: none;
    transition-duration: 0.2s;
}
.place {
    margin-left: 50px;
}
.faq-section {
    min-height: 100vh;
    padding: 10vh 0 0;
    margin-bottom: 30px;
}
}
