* {
  padding: 0px;
  margin: 0px;
  /* font-family: "DM Serif Display", serif; */
  /* font-family: "Work Sans", sans-serif; */
}
body {
  display: grid;
    /* font-family: "Work Sans", sans-serif; */
}

.jumbotron.jumbotron-bg.text-center.rounded-0 {
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
}
/* section{
  height: 100vh;
} */


/***********************************************Our plans*****************************************************/
  .pt-5 {
    padding-top: 150px !important;
    margin-right: 900px;
    color: white;
    font-family: "Caveat", cursive;
    font-family: "Delicious Handrawn", cursive;
    font-size: 110px;
    /* height: 80vh; */
  }

 .hidden{
   opacity: 0;
   transition: all 1.1s;
   position: relative;
  transform: translateX(-200px);
  }
  .show{
    opacity: 1;
    transform: translateX(0px);
  }


.our-plans {
  /* background-color: #c1d9d4; */
  width: 100%;
  /* height: 100vh; */
  /* height: 800px; */
}
/* .card img {
  width: 300px;
  height: 450px;
  border: none;
} */
.card-containar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.card {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  background-color: #c1d9d4;
  /* margin: 30px 80px; */
  width: 350px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  color: #fff;
}
.section-title {
  margin-left: 50px;
  padding: 30px 0;
  color: #365d5a;
  /* color: rgb(51, 51, 51); */
  font-weight: bolder;
}
.card-title {
  padding-top: 0px;
  margin-left: 0px;
  margin-bottom: 100px;
  font-size: 35px;
}
.card-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 12px 58px;
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 1.1875rem;
    color: rgb(255, 255, 255);
    background: rgb(236, 110, 85);
      /* background-color: #f1895e; */
    font-family: "Work Sans", sans-serif;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease-in-out 0s;
}
.card-button:hover{
    background-color: #f1895e;

}
/* .card-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #f1895e;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
} */

/***********************************************Category*****************************************************/
.bounce-in-fwd {
  opacity: 0;
  transition: all 1.1s;
  position: relative;
  transform: translateX(-200px);
}

.bounce-in-fwd-active {
  opacity: 1;
  animation-delay: 0.2s;
  transform: translateX(0px);
  animation: bounce-in-fwd 1.1s both;
}

.category-image:hover{
  transform: scale(1.2);
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .bounce-in-fwd {
    transform: translateX(-10vw); /* Adjust translation for smaller screens */
    /* Adjust other animation properties */
  }
}
.swiper-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
  text-align: center;
}
.category-image {
  width: 100px;
  height: 100px;
}
h3 {
  font-size: 20px;
  margin-top: 20px;
}
.swiper-wrapper a {
  text-decoration: none;
  color: #365d5a;
}
.cat-sec {
  margin-bottom: 50px;
}

/***********************************************How it works*****************************************************/
.containers {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.step-wrapper {
  margin: 30px;
  margin-bottom: 200px;
  position: relative;
}
.linestep {
  text-align: center;
  max-width: 250px;
  position: absolute;
}

.linestep .num {
  color: #fff;
  border-radius: 100px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  background: rgb(236, 110, 85);
}
.linestep p {
  width: 250px;
  position: absolute;
  margin-top: 7px;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
}
.linestep p.top {
  bottom: 50px;
  left: -110px;
}
.linestep p.bottom {
  left: -110px;
}
.linestep p.left {
  width: 200px;
  right: 34px;
  top: -17px;
}
.linestep p.right {
  width: 200px;
  left: 34px;
  top: -17px;
}
.linestep {
  visibility: hidden;
}
.path {
  visibility: hidden;
}
.move-line .path {
  visibility: visible;
  stroke-dasharray: 3700;
  stroke-dashoffset: 3700;
  animation: moveline 4s linear forwards;
}
.move-line .linestep {
  animation-name: show-step-item;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.move-line .linestep1 {
  animation-delay: 0.4s;
}
.move-line .linestep2 {
  animation-delay: 0.8s;
}
.move-line .linestep3 {
  animation-delay: 1.2s;
}
.move-line .linestep4 {
  animation-delay: 1.6s;
}
.move-line .linestep5 {
  animation-delay: 2s;
}
.move-line .linestep6 {
  animation-delay: 2.4s;
}
.move-line .linestep7 {
  animation-delay: 2.8s;
}
.move-line .linestep8 {
  animation-delay: 3.2s;
}
@keyframes show-step-item {
  from {
    transform: scale(0.2);
    opacity: 0;
 }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
 }
}
@keyframes moveline {
  to {
    stroke-dashoffset: 0;
 }
}

.how-it-works {
  width: 100%;
  height: 500px;
  background-color: #edddcd;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0px 150px 100px;
}
.how-image {
  width: 70px;
  /* height: 100px; */
}
.how-it-works a {
  text-decoration: none;
  color: #365d5a;
}
#how {
  grid-column: 1/4;
  margin-bottom: 50px;
  padding-right: 50px;
}

/***********************************************Suppliers*****************************************************/

.Suppliers {
  display: flex;
  /* grid-template-columns: auto auto auto auto auto auto; */
  align-items: center;
  justify-content: space-evenly;

  width: 90%;
  margin: 0 auto;
}
.supp-image {
  width: 150px;

}
.suppliers-title {
  margin-bottom: 50px;
}
/***********************************************Reviews*****************************************************/

#testimonials {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0px;
}
.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.testimonial-box {
  width: 400px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #EDDDCD;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile {
  display: flex;
  align-items: center;
}
.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span {
  color: #979797;
  font-size: 0.8rem;
}
.reviews {
  color: #f9d71c;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
::selection {
  color: #ffffff;
  background-color: #252525;
}

/***********************************************Footer*****************************************************/

/* Footer */
.footer-logo {
  width: 300px !important;
  height: 70px;
  margin-top: 100px;
}
.py-5 {
  background-color: #365d5a;
  color: #d6cda4;
  padding-top: 50px !important;
  padding-left: 50px !important;
  padding-bottom: 0px !important;
}
.delivery-gay {
  width: 300px;
  height: 400px;
}
.col-md-2 {
  padding-top: 50px;
}
.footer-menu h3 {
  font-size: 30px !important;
  font-weight: bold;
}
.d-flex svg {
  color: #d6cda4;
}

/***********************************************Mobile*****************************************************/
@media screen and (max-width: 480px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .card {
    grid-template-columns: auto;
    margin: 20px 10px;
    width: 300px;
    height: 450px;
    background-size: 300px 450px;
  }

  .card-containar {
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
  }
  .swiper-wrapper {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    text-align: center;
  }
  .how-it-works {
    grid-template-columns: 1fr; /* One column for screens up to 480px */
    padding: 0px;
    height: fit-content;
  }
  .how-it-works a {
    grid-column: 1/2;
  }
  .Suppliers {
    flex-direction: column;
    flex-wrap: wrap;

  }
  .testimonial-box-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .jumbotron-bg {
    display: none;
  }
  #how {
    /* grid-column: 1/4; */
    margin-bottom: 50px;
    padding-right: 0px;
  }
  #How{
    display:none ;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 0px;
    padding-top: 0px;
    color: #365d5a;
    font-weight: bolder;
  }
  .testimonial-box {
    width: 200px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #e9ba9f;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
  }
  .footer-logo {
    width: 250px !important;
  }
  h3 {
    font-size: 15px;
  }
  h2 {
    font-size: 30px;
  }
  .containers {
    display: none;
}
}

/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .card {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    width: 300px;
    height: 450px;
    background-size: 300px 450px;
  }
  #yearly {
    grid-column: 1/3;
    margin-left: 230px;
  }

  .card-containar {
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }

  .swiper-wrapper {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 0px; */
    text-align: center;
  }
  .how-it-works {
    grid-template-columns: 1fr 1fr !important;
    padding: 0px;
    height: fit-content;
  }
  .how-it-works a {
    /* grid-column: 1/3; */
  }
  .Suppliers {
    /* flex-direction: column; */
    flex-wrap: wrap;

  }
  .testimonial-box-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
  }
  .jumbotron-bg {
    display: none;
  }
  #how {
    /* grid-column: 1/4; */
    margin-bottom: 50px;
    padding-right: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 0px;
    padding-top: 0px;
    color: #365d5a;
    font-weight: bolder;
  }
  .testimonial-box {
    width: 700px !important;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #e9ba9f;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
  }
  .footer-logo {
    width: 250px !important;
  }
  h3 {
    font-size: 18px;
  }
  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }
  h2 {
    font-size: 40px;
  }
  .signin {
    font-size: 20px;
    margin-right: 30px;
    color: #365d5a;
  }
  .containers {
    display: none;
}
}

@media (max-width: 1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}
@media (max-width: 790px) {
  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}
@media (max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .testimonial-box {
    width: 300px;
  }
  .reviews {
    margin-top: 10px;
  }
}
