* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
body {
  /* background-color: #F6EEE6; */
}

/***********************************************Fieldset*****************************************************/

fieldset {
  /* margin-bottom: 1em; */
  /* border: 1px solid black; */
  margin: 20px 50px 50px 50px;
  padding: 50px;
}
.list {
  background-color: #f6eee6;
  width: 100%;
  height: fit-content;
  padding: 50px;
  color: #232323;
}
.list h1 {
  text-align: center;
  color: #232323;
  font-weight: bold;
}
form {
  /* margin-left: 100px; */
}
/* The container */
.container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  /* margin-left: 50px; */
}
.div-container {
  display: flex;
  margin-bottom: 20px;
  gap: 150px;
  /* margin-left: 50px; */
}
.container .checkbox {
  margin-left: 20px;
  width: 18px;
  height: 18px;
  background-color: #232323;
  accent-color: #232323;
  cursor: pointer;
}
.bi {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.125em;
  color: #5FA800;
  fill: currentcolor;
  cursor: pointer;
}
.container .price {
  margin-left: 50px;
}
.container .counter {
  margin-left: 50px;
  width: 50px;
  color: #365d5a;
}
.label {
  text-align: center;
}
.img-container {
  /* border: #365d5a solid 1px; */
  margin-left: 50px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: #f9f9f9; */
}
.list a {
  margin-left: 85%;
  color: #5FA800;
}
legend {
  color: #232323;
  font-weight: bold;
  margin-bottom: 20px;
}
.Baby .icon-container {
  margin-right: 20px;
}
.Baby .label {
  color: #232323;
  font-weight: bold;
}
.Notes {
  margin-left: 50px;
}
.Notes h3 {
  color: #5FA800;
  margin-bottom: 30px;
  font-weight: bold;
}
.Notes h4 {
  margin-bottom: 30px;
  font-weight: bold;
}
.Notes input {
  width: 80%;
  height: 300px;
}
.summary-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this if needed */
  flex-direction: column;
}
hr {
  width: 100%;
  border-top: 4px solid #5FA800;
}
.Summary {
  border: #5FA800 4px solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.Summary h3 {
  font-weight: bold;
}
.voucher {
  margin-top: 30px;
}
.voucher input {
  width: 300px;
  border-radius: 10px;
}
.voucher,
.Items,
.Sub,
.Total,
.Discount {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.summary-wrapper button {
  background: #5FA800;
  font-family: "Work Sans", sans-serif;
  padding: 10px;
  border-radius: 8px;
  border: none;
  /* height: 47px; */
  /* width: 200px; */
  color: white;
  font-size: 1.1875rem;
  margin-top: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding: 12px 58px;
  line-height: 1.5rem;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out 0s;

}
.summary-wrapper button:hover{
  background-color: #5FA800;
}
.summary-wrapper button a {
  color: white;
  font-size: 1.1875rem;
  margin-left: 0;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;

}

/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
  .img-fluid {
    margin-left: 0px;
  }
  div.jumbotron{
    display: none;
  }
  h1.pt-5{
    display: none;
  }
  h2 {
    margin-left: 10px;
    padding-top: 30px;
    color: #232323;
    font-weight: bolder;
    font-size: 30px;
  }
  .title {
    display: none;
    margin-left: 10px;
  }

  .footer-logo {
    width: 250px !important;
  }
  h3 {
    font-size: 15px;
  }
  .Summary {
    width: 80%;
  }
  .list {
    background-color: #f6eee6;
    width: 100%;
    height: fit-content;
    padding: 10px;
    color: #232323;
  }
  fieldset {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
    padding: 10px;
  }
  .div-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    gap: 10px;
  }
  .container .price {
    margin-left: 10px;
    font-size: 15px;
  }
  .container .counter {
    margin-left: 10px;
    width: 30px;
    color: #232323;
  }
  .img-container {
    display: none;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #f9f9f9; */
  }
  .list a {
    margin-left: 50%;
    color: #5FA800;
  }
  .voucher input {
    width: 100px;
    border-radius: 10px;
  }
  .voucher,
  .Items,
  .Sub,
  .Total,
  .Discount {
    gap: 10px;
  }
  .bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    color: #5FA800;
    fill: currentcolor;
    cursor: pointer;
  }
  .container .checkbox {
    margin-left: 0px;
    width: 15px;
    height: 15px;
    background-color: #365d5a;
    accent-color: #365d5a;
    cursor: pointer;
  }
  .list img {
    width: 40px;
    height: 40px;
  }
  .list .checkmark {
    font-size: 15px;
  }
  .Notes {
    margin-left: 10px;
    margin-top: 20px;
  }
  .Notes input {
    width: 90%;
    height: 200px;
  }
}

/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }

  .footer-logo {
    width: 250px !important;
  }

  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }

  .title {
    display: none;
    margin-left: 10px;
  }

  .Summary {
    width: 80%;
  }
  .list {
    background-color: #f6eee6;
    width: 100%;
    height: fit-content;
    padding: 10px;
    color: #365d5a;
  }
  fieldset {
    border: 1px solid black;
    margin: 20px 20px 20px 20px;
    padding: 30px;
  }
  .div-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    gap: 10px;
    margin-left: 10px;
  }
  .container .price {
    margin-left: 50px;
    font-size: 15px;
  }
  .container .counter {
    margin-left: 50px;
    width: 50px;
    color: #365d5a;
  }
  .img-container {
    margin-left: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
  .list a {
    margin-left: 80%;
    color: #f1895e;
  }
  .voucher input {
    width: 200px;
    border-radius: 10px;
  }
  .voucher,
  .Items,
  .Sub,
  .Total,
  .Discount {
    gap: 10px;
  }
  .bi {
    vertical-align: -0.125em;
    color: #f1895e;
    fill: currentcolor;
    cursor: pointer;
  }
  .container .checkbox {
    margin-left: 0px;
    background-color: #365d5a;
    accent-color: #365d5a;
    cursor: pointer;
  }
  .Notes {
    margin-left: 10px;
    margin-top: 20px;
  }
  .Notes input {
    width: 100%;
    height: 200px;
  }
}
