* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}


/**********************************************************************************************************/
.signup-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  color: #232323;
  background-color: rgb(154, 174, 172, 0.1);
  border-radius: 50px;
  margin: 20px 200px;
  padding: 10px;
  box-shadow: 2px 2px 10px 10px rgb(154, 174, 172, 01);
}
.signup-container h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.signup-container h4 {
  font-weight: bold;
}
.signup-container a {
  color: #5FA800;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.name,
.email,
.pass,
.re-pass,
.phone {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
  margin-bottom: 10px;
  width: 300px;
}
.name input,
.email input,
.pass input,
.re-pass input,
.phone input {
  height: 40px;
  border: #232323 solid 1px;
  border-radius: 10px;
  padding: 10px;
}
button {
  text-align: center;
}
.social {
  text-align: center;
}
.Register {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  font-size: 13px;
  line-height: 1.8;
  color: #232323;
  font-weight: 400;
  font-family: Poppins;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.signup-container button {
  border: none;
  background-color: #5FA800;
  padding: 10px;
  border-radius: 5px;
  height: 47px;
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.bi {
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
  fill: currentcolor;
  margin: 15px;
}
.social .agree-term {
  display: inline-block;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  color: #365d5a;
}
.term-service {
  margin-left: 50px !important;
}
/***********************************************Responsive*****************************************************/

/***********************************************Mobile*****************************************************/

@media screen and (max-width: 480px) {
  .img-fluid {
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }
  h2 {
    margin-left: 10px;
    padding-top: 30px;
    color: #365d5a;
    font-weight: bolder;
    font-size: 30px;
  }
  .title {
    display: none;
    margin-left: 10px;
  }

  .footer-logo {
    width: 250px !important;
  }
  h3 {
    font-size: 15px;
  }
  /*********************************************************************************************/
  .signup-img{
    display: none;
  }
  .signup-container{
      margin: 5px;
      border-radius: 0px;
      padding: 0px;
      box-shadow: none;
      background-color: white;
  }

}
/***********************************************Tablet*****************************************************/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-fluid {
    width: 300px;
    margin-left: 0px;
  }
  .icon {
    transform: scale(1);
    color: #365d5a;
    margin-right: 10px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .py-5 {
    background-color: #365d5a;
    color: #d6cda4;
    padding-top: 50px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
  }
  .delivery-gay {
    display: none;
  }

  .footer-logo {
    width: 250px !important;
  }

  .footer-menu h3 {
    font-size: 25px !important;
    font-weight: bold;
  }

  .title {
    display: none;
    margin-left: 10px;
  }
  /****************************/
  .signup-img{
    display: none;
  }
  .signup-container{
    margin: 40px;
    padding: 0px;
    width: 90%;
}
}
